<% provide(:title, 'Log in') %>
<div class="primary-color d-flex flex-column justify-content-center pt-4">
  <header class="container secondary-color text-center">
    <h1 class="display-4 mb-4">Log in</h1>
  </header>
  <section class="primary-color d-flex flex-column align-items-stretch justify-content-center mx-5 px-5">
    <%= form_with(url: login_path, scope: :session, local: true, class: "d-flex flex-column justify-content-center") do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary mt-3" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </section>
</div>
