<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'Index' %>
  </head>

  <body>
    <div class="d-flex justify-content-between navbar">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link mx-2" href="/">Strange Attractors</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link mx-2" href="/static_pages/what_are_strange_attractors">What are Strange Attractors?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/static_pages/about">About</a>
        </li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
